.container {
  padding: 1rem;
  width: var(--full-width);
  max-width: var(--max-width);
  display: grid;
  background-color: var(--clr-mellowyellow);
  box-shadow: var(--dark-shadow);
  border-radius: var(--radius);
  margin-bottom: 8rem;
}

.textbox {
  padding: 1rem;
  background-color: var(--clr-whitesmoke);
  border-radius: var(--radius);
}

@media (min-width: 600px) {
  .textbox {
    width: 50%;
  }
}

@media (min-width: 992px) {
  /* about */

  .container--about {
    grid-template-columns: 250px 1fr;
  }
}