.panel {
  padding: 1rem;
  margin: 1rem;
  border: solid 1px var(--clr-grey);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  background-color: var(--clr-mellowyellow);
  
  transition: var(--transition);
}

.panel__title {
  display: flex;
  justify-content: space-between;
}

.btn--panel {
  width: 2rem;
  height: 2rem;
  color: var(--clr-whitesmoke);
  background-color: var(--clr-verdantgreen);
  border: 2px solid var(--clr-brown);
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
}
