.pest {
  max-width: 300px;
  margin: 1rem;
  background-color: var(--clr-darkmellowyellow);
  color: var(--clr-whitesmoke);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
}

.pest__img {
  max-width: 100%;
  height: auto;
  border-radius: 0.25rem 0.25rem 0 0;
  
}

.pest__info {
  // text-align: center;
  border: red 1px solid;
}

.pest__info,
h4
h3 {
  margin: 20px;
}
