.svg {
  min-width: 500px;
  min-height: 430px;
}

#AU-NT:hover,
#AU-QLD:hover,
#AU-WA:hover,
#AU-VIC:hover,
#AU-NSW:hover,
#AU-ACT:hover,
#AU-SA:hover,
#AU-TAS:hover {
  fill: var(--clr-whitesmoke);
  cursor: pointer;
}
