.pest-text {
    margin-bottom: 1rem;
    grid-area: text;
}

.pests {
    grid-area: pests;
}

.fire-ant-map {
    max-width: 100%;
    box-shadow: var(--dark-shadow);
    grid-area: img;
}

@media (min-width: 600px) {
    
    .pest-text {
        max-width: 75%;
        margin: 0 auto 1rem auto;
    }

    .fire-ant-map {
        margin: auto;
        max-width: 500px;
    }
    
    .map-caption {
        max-width: 500px;
    }
    
}

@media (min-width: 992px) {

    .pest-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        grid-template-areas: 
            "text img"
            "pests pests";
    }

    .pest-text {
        max-width: 100%;
        margin: 0;
    }

    .fire-ant-map {
        max-width: 100%
    }
    
    .map-caption {
        max-width: 100%;
    }

}

