@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
:root {
  /* colors */
  --clr-whitesmoke: #f5f5f5;
  --clr-mellowyellow: #ffe77a;
  --clr-darkmellowyellow: #665c31;
  --clr-verdantgreen: #2c5f2d;
  --clr-lightverdantgreen: #96af96;
  --clr-darkverdantgreen: #091309;
  --clr-brown: #4f2c1d;
  --clr-btn: #567f57;
  --clr-btn-hover: #234c24;
  --clr-external-link-hover: #b3a255;
  /* container styles */
  --full-width: 95vw;
  --max-width: 1200px;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --radius: 0.25rem;
  --transition: background-color 0.3s linear;
  --btn-border: 2px solid var(--clr-mellowyellow);
  --btn-radius: 2.5rem;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

*, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

html {
  height: 100vh;
}

body {
  background-color: var(--clr-verdantgreen);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

hr {
  color: var(--clr-whitesmoke);
  max-width: 100%;
  height: 2px;
  background-color: var(--clr-whitesmoke);
  margin: 0;
}

em {
  font-size: inherit;
}

img {
  max-width: 100%;
  -webkit-box-shadow: var(--dark-shadow);
          box-shadow: var(--dark-shadow);
  border-radius: var(--radius);
}

main {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

figcaption {
  color: var(--clr-whitesmoke);
  background-color: var(--clr-verdantgreen);
  margin-top: 0;
  padding: .5rem 1rem;
  font-size: .8rem;
  border-radius: var(--radius);
}

.content {
  padding: .5rem;
  margin-bottom: 3rem;
  width: var(--full-width);
  max-width: var(--max-width);
  background-color: var(--clr-lightverdantgreen);
  -webkit-box-shadow: var(--dark-shadow);
          box-shadow: var(--dark-shadow);
  border-radius: var(--radius);
}

.image-container {
  max-width: 100%;
  height: auto;
  margin: 0;
  border-radius: var(--radius);
  position: relative;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-container {
  padding: 1rem;
  background-color: var(--clr-mellowyellow);
  border-radius: var(--radius);
  -webkit-box-shadow: var(--dark-shadow);
          box-shadow: var(--dark-shadow);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFE77A), to(#FFE643));
  background: linear-gradient(to bottom, #FFE77A 0%, #FFE643 100%);
}

.sub-heading {
  background-color: var(--clr-mellowyellow);
  border-radius: var(--radius);
  -webkit-box-shadow: var(--dark-shadow);
          box-shadow: var(--dark-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 3rem;
  padding: 0 1rem;
}

.btn {
  margin: 1rem auto;
  padding: 0.5rem 2rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--clr-btn);
  color: var(--clr-whitesmoke);
  border: var(--btn-border);
  border-radius: var(--btn-radius);
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--clr-btn-hover);
}

.btn--secondary {
  margin: .5rem auto;
  padding: 0.25rem 1rem;
  font-weight: bold;
  text-transform: capitalize;
  background-color: var(--clr-btn);
  color: var(--clr-whitesmoke);
  max-width: 150px;
  border: var(--btn-border);
  border-radius: var(--btn-radius);
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.btn--secondary:hover {
  color: var(--clr-whitesmoke);
  background-color: var(--clr-btn-hover);
}

.external-link {
  background-color: var(--clr-darkmellowyellow);
  color: var(--clr-whitesmoke);
  font-size: x-large;
  width: 50%;
  margin: auto;
  text-transform: capitalize;
  border-radius: var(--radius);
  -webkit-box-shadow: var(--light-shadow);
          box-shadow: var(--light-shadow);
  text-align: center;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.external-link:hover {
  background-color: var(--clr-external-link-hover);
}

.pest {
  width: 100%;
  margin: .5rem;
  background-color: var(--clr-darkmellowyellow);
  color: var(--clr-whitesmoke);
  border-radius: var(--radius);
  -webkit-box-shadow: var(--dark-shadow);
          box-shadow: var(--dark-shadow);
}

.pest__img {
  max-width: 100%;
  height: auto;
  border-radius: 0.25rem 0.25rem 0 0;
}

.pest__info {
  padding: 0 .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.pest__info h4 {
  margin-top: .5rem;
}

.pest__info h3, .pest__info p {
  margin: 0;
}

@media (min-width: 600px) {
  .pest {
    max-width: 300px;
    margin: 1rem;
  }
  .pest__img {
    height: 50%;
  }
}

.svg {
  min-width: 500px;
  min-height: 430px;
}

#AU-NT:hover,
#AU-QLD:hover,
#AU-WA:hover,
#AU-VIC:hover,
#AU-NSW:hover,
#AU-ACT:hover,
#AU-SA:hover,
#AU-TAS:hover {
  fill: var(--clr-whitesmoke);
  cursor: pointer;
}

.states-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 600px) {
  .states-list-container {
    display: none;
  }
}

.states-list {
  /* to cancel default style */
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

/* generated with CSS Button Generator https://www.css3buttongenerator.com/ */
.btn--state {
  background: #567f57;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#567f57), to(#234c24));
  background-image: linear-gradient(to bottom, #567f57, #234c24);
  border-radius: 5px;
  color: var(--clr-whitesmoke);
  padding: .5rem 1rem;
  border: solid var(--clr-brown) 2px;
  margin-top: .75rem;
  width: 100%;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.btn--state:hover {
  background: var(--clr-lightverdantgreen);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  place-items: center;
  visibility: hidden;
}

.show-modal {
  z-index: 10;
  visibility: visible;
}

.modal-container {
  background: var(--clr-lightverdantgreen);
  border-radius: var(--radius);
  width: 90vw;
  max-width: var(--max-width);
  text-align: center;
  place-items: center;
  position: relative;
}

header {
  background-color: var(--clr-darkverdantgreen);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem 1rem;
  max-width: var(--max-width);
  margin: 0 auto 1rem;
}

.title--acronym {
  color: #f1f5f8;
}

.title--acronym h1 {
  font-family: 'Fugaz One', cursive;
  font-size: 3rem;
  margin: .5rem 0;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.title--full {
  color: #f1f5f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: auto 0 auto 1rem;
  display: none;
}

.title--full h1 {
  font-family: 'Fugaz One', cursive;
  margin-bottom: 0;
  font-size: 3rem;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.caption {
  display: block;
}

.nav__menu {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

@media (min-width: 600px) {
  .title--acronym {
    display: none;
  }
  .title--full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0;
}

.link {
  width: 3.3rem;
  height: 3.3rem;
  margin: .11rem;
  font-weight: bolder;
  color: transparent;
  background-color: var(--clr-mellowyellow);
  border: var(--clr-darkmellowyellow) solid 2px;
  border-radius: var(--radius);
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.link:hover {
  background-color: var(--clr-external-link-hover);
}

.link--home {
  background-image: url("../images/map.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.link--regs {
  background-image: url("../images/book.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.link--pest {
  background-image: url("../images/pest.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 600px) {
  .links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .link {
    width: 6.6rem;
    color: #000;
    padding: .75rem 0 0 .25rem;
  }
  .link--home, .link--regs, .link--pest {
    background-position: right;
    background-size: contain;
  }
}

form {
  margin: 1rem auto;
  margin-bottom: 4rem;
  padding: 1rem 2rem;
  background-color: var(--clr-whitesmoke);
  border-radius: var(--radius);
}

.radio-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

input[type="radio"] {
  margin: 1rem;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.svg--fruit {
  background-image: url("../images/fruit.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 3.3rem;
  height: 3.3rem;
  margin: 0 auto 1rem;
  display: none;
}

.svg--veg {
  background-image: url("../images/veg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 3.3rem;
  height: 3.3rem;
  margin: 0 auto 1rem;
  display: none;
}

.svg--plant {
  background-image: url("../images/plant.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 3.3rem;
  height: 3.3rem;
  margin: 0 auto 1rem;
  display: none;
}

.select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  margin: 0 auto  1rem;
  text-align: center;
}

.select-box label {
  padding-top: 1rem;
}

select {
  margin-left: 1rem;
  height: 4rem;
  padding-left: 2rem;
}

form button {
  display: block;
  margin: 2rem auto 0 auto;
}

.output {
  background-color: var(--clr-whitesmoke);
}

@media (min-width: 600px) {
  .radio-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 700px;
  }
  .radio-buttons label {
    padding-top: .5rem;
  }
}

@media (min-width: 992px) {
  .select-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.mapouter {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 75%;
  max-height: 500px;
  max-width: 600px;
}

.gmap-canvas {
  position: relative;
  width: 100%;
  padding-top: 75%;
}

.gmap_iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  .gmap_iframe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

footer {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: var(--clr-darkverdantgreen);
  color: var(--clr-whitesmoke);
}

.footer-link {
  color: var(--clr-mellowyellow);
}

.footer-link:visited {
  color: var(--clr-darkmellowyellow);
}

.github-link {
  padding: 1rem;
  background-color: var(--clr-whitesmoke);
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 2rem;
  height: 2rem;
  margin: auto;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.github-link:hover {
  fill: var(--clr-mellowyellow);
  background-color: var(--clr-darkverdantgreen);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.list {
  padding: 0;
  max-width: 700px;
  margin: auto;
}

.list__item {
  background-color: var(--clr-whitesmoke);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0;
}

.list__item .svg--tick {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.list__item span {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

.svg--tick {
  background-image: url("../images/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 3.3rem;
  height: 3.3rem;
  margin: 0 1rem 1rem 0;
}

.svg--cross {
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 3.3rem;
  height: 3.3rem;
  margin: 0 1rem 1rem 0;
}

.svg--question-mark {
  background-image: url("../images/question-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 3.3rem;
  height: 3.3rem;
  margin: 0 1rem 1rem 0;
}

.p-1 {
  grid-area: para-1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.p-2 {
  grid-area: para-2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.p-3 {
  grid-area: para-3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.p-4 {
  grid-area: para-4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.img-fruit-bin {
  grid-area: img-1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.img-biosecurity-officer {
  grid-area: img-2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.img-heliothis {
  grid-area: img-3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.states-container {
  display: none;
}

@media (min-width: 600px) {
  .states-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .regs-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
        grid-template-areas: "para-1 para-1" "para-2 img-1" "img-2 para-3" "para-4 img-3";
  }
}

.pest-detail {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pest-detail__info-container {
  text-align: left;
}

.pest-detail__img-container {
  max-width: 600px;
  margin: 0 auto;
}

.pest-detail__img {
  max-width: 100%;
  height: auto;
  border-radius: var(--radius);
}

@media (min-width: 992px) {
  .pest-detail {
    -ms-grid-columns: 550px 1fr;
        grid-template-columns: 550px 1fr;
  }
  .pest-detail__info-container {
    padding: 2rem;
  }
}

.pest-text {
  margin-bottom: 1rem;
  grid-area: text;
}

.pests {
  grid-area: pests;
}

.fire-ant-map {
  grid-area: img;
}

@media (min-width: 600px) {
  .pest-text {
    max-width: 75%;
    margin: 0 auto 1rem auto;
  }
  .fire-ant-map {
    margin: auto;
    max-width: 500px;
  }
}

@media (min-width: 992px) {
  .pest-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
        grid-template-areas: "text img" "pests pests";
  }
  .pest-text {
    max-width: 100%;
    margin: 0;
  }
  .fire-ant-map {
    max-width: 100%;
  }
  .map-caption {
    max-width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */